[submodule "application"]
	path = application
	url = https://github.com/inciotiq/app-starter-base.git
[submodule "commons"]
	path = commons
	url = https://github.com/inciotiq/commons.git
[submodule "user"]
	path = user
	url = https://github.com/inciotiq/app-starter-user.git
